@import url('https://fonts.googleapis.com/css?family=Risque:100,200,300,400,500,600,700|Acme:100,200,300,400,500,600,700');

/*------------------------------------ Color */

.ui-menu-color-home {
    background-color: #ED6119;
}

.ui-menu-color-news {
    background-color: #343759;
}

.ui-menu-color-music {
    background-color: #c54c4c;
}

.ui-menu-color-book-us {
    background-color: #bbad0e;
}

.border-home {
    border: thick double #ED6119;
}

.border-news {
    border: thick double #343759;
}

.border-music {
    border: thick double #c54c4c;
}

.border-book-us {
    border: thick double #bbad0e;
}

.picture-border {
    display: none;
}

/*------------------------------------ Special Rules etc. */

h1,
h2,
h3,
h5 {
    margin: 0;
    font-family: Risque, sans-serif;
}

h4 {
    font-family: Acme, sans-serif
}

p {
    margin: 0;
    font-family: Acme, sans-serif;
    font-size: 20px;
}

/*------------------------------------ Header */

header {
    margin: 0;
}

.logo {
    background: url("../images/logo.png") no-repeat 99% center, linear-gradient(to right, #D9D9D9 50%, #F1F1F1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.monkees-picture {
    background: url("../images/monkees-band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    display: none;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 25px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: Risque, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------------------ Header Hover */

.menucontainer:hover li {
    opacity: .2;
    filter: blur(2px);
    transition: ease-in-out .5s;
}

.menucontainer li:hover {
    opacity: 1;
    filter: blur(0px);
}

/*------------------------------------ Content */

.side-content {
    text-align: center;
    padding: 50px;
}

.main-content {
    text-align: center;
    padding: 20px;
}

video {
  width: 100%    !important;
  height: auto   !important;
}


/*------------------------------------ Book-Us Form */

.wrapper {
    background: #fff;
    font-family: Acme, sans-serif;
    text-transform: uppercase;
}

.input-field {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #bbad0e;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
}
    
.input-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    color: #bbad0e;
    font-weight: 700;
    text-transform: uppercase;
    transition: .5s;
}

.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label{
    top: -25px;
    font-size: 14px;
    font-weight: 200;
    padding: 2px 5px;
    background: #bbad0e;
    color: #fff;
    border-radius: 4px;
}

.btn {
    margin-top: 20px;
    background: #bbad0e;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: .5s;
    float: right;
}

/*------------------------------------ Footer Shop */

.footer-shop {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-shop li {
    list-style: none;
    margin: 0 5px;
}

.footer-shop a {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    transition: .5s;
}

.footer-shop a i {
    font-size: 40px;
    position: relative;
    padding-top: 20px;
}

/*------------------------------------ Footer Shop Hover */

.footer-shop a:hover {
    color: #fff
}

.footer-shop a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s cubic-bezier(.95, .32, .37, 1.31);
}

.footer-shop a:hover:before {
    transform: scale(1);
}

.footer-shop:nth-child(1) a:hover:before {
    background: #ED6119;
}

/*------------------------------------ Footer Copyright */

.footer-text {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

/*------------------------------------ Footer Social */

.socialcontainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.social-links li {
    list-style: none;
    margin: 0 5px;
}

.social-links li a {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    transition: .5s;
}

.social-links li a i {
    font-size: 40px;
    position: relative;
    padding-top: 20px;
}

/*------------------------------------ Footer Social Hover */

.social-links li a:hover {
    color: #fff
}

.social-links li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s cubic-bezier(.95, .32, .37, 1.31);
}

.social-links li a:hover:before {
    transform: scale(1);
}

.social-links li:nth-child(1) a:hover:before {
    background: #3b5999;
}

.social-links li:nth-child(2) a:hover:before {
    background: #1EA1F3;
}

.social-links li:nth-child(3) a:hover:before {
    background: #FF0000;
}

@media (min-width: 768px){
    .monkees-picture{
        display: block;
    }
    .picture-border {
    display: block;
    }
} 

@media(min-width: 992px) {
    .side-content {
        min-height: 382px;
    }
